<!-- Nav -->
<!--suppress TypeScriptUnresolvedVariable -->
<nav class="navbar navbar-inverse">
  <div class='container'>
    <span class="navbar-brand">Todos</span>
  </div>
</nav>

<!-- Main -->
<div class="main container rounded p-3 mt-3">
  <form class="form-group mb-5" name="title" (ngSubmit)="onCreate()">
    <input type="text" name="title" class="form-control mb-2" [(ngModel)]="title" placeholder="What do you want to do?">
    <button mat-button color="primary" [disabled]="!title">Create Todo</button>
  </form>
  <ng-container *ngFor="let todo of todoList">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <input type="checkbox" name="isCompleted" [checked]="todo.isCompleted" (change)="onCompete(todo)">&nbsp;
          <span  *ngIf="!todo.isCompleted">{{todo.title}}</span>
          <span *ngIf="todo.isCompleted"><del>{{todo.title}}</del></span>
        </mat-panel-title>
          <mat-icon [inline]="true" class="icon" aria-hidden="false" aria-label="Delete" (click)="onRemove(todo)">delete</mat-icon>
      </mat-expansion-panel-header>
      <div>
      <form class="form-group mb-5" name="child_title" (ngSubmit)="onCreateChildren(todo)">
        <input type="text" name="child_title" class="form-control mb-2" [(ngModel)]="childTitle" placeholder="What do you want to do?">
        <button mat-button color="primary" [disabled]="!childTitle">Create Sub Todo</button>
      </form>
        </div>
      <div *ngFor="let child of todo.children">
        <span>{{child.title}}</span>
        <mat-icon [inline]="true" class="child-icon" aria-hidden="false" aria-label="Delete" (click)="onRemove(child)">delete</mat-icon>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>

<style>
  .icon {
    font-size: 36px;
    color: red;
  }
  .child-icon {
    font-size: 36px;
    float: right;
  }
</style>
