<!-- Main -->
<div class="main container rounded p-3 mt-3">
  <form class="form-group col-md-12" name="title" (ngSubmit)="onCreate()">
    <input type="text" name="title" class="form-control row-cols-md-1" [(ngModel)]="title" placeholder="What do you want to do?">
    <button class="btn btn-success" [disabled]="!title">Create Todo</button> &nbsp;
    <button class="btn badge-dark" (click)="open(content)">Create Sub-Todo</button> &nbsp;
    <input type="text" name="search" class="form-control col-md-12" [(ngModel)]="title_search" (ngModelChange)="onSearch()" placeholder="What do you want to search?">
  </form>
  <div class="container my-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let todo of todoList">
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#expand">
        <td class="expand-button"></td>
        <td>{{todo.title}}</td>
        <td> <mat-icon [inline]="true" class="icon" aria-hidden="false" aria-label="Delete" (click)="onRemove(todo)">delete</mat-icon>
      </tr>
      <tr class="hide-table-padding">
        <td></td>
        <td colspan="3">
          <div id="expand" class="collapse in p-3">
            <div class="row"  *ngFor="let child of todo.children">
              <div class="col-2">{{child.title}}</div>
              <div class="col-2"><mat-icon [inline]="true" class="child-icon" aria-hidden="false" aria-label="Delete" (click)="onRemoveChildren(child)">delete</mat-icon></div>
            </div>
          </div></td>
      </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Todo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="create_children_todo" (ngSubmit)="onCreateChildren()">
      <div class="form-group">
        <label for="todo_id" class="label">Parent Todo</label> &nbsp;
        <select name="todo_id" [(ngModel)]="todoId" class="custom-select">
          <option selected></option>
          <option *ngFor="let todo of todoList" value="{{todo.id}}">{{todo.title}}</option>
        </select>
        <div class="form-group">
          <label for="childTitle" class="label">Title</label>
          <input  id="childTitle" type="text" class="form-control" name="childTitle" [(ngModel)]="childTitle">
        </div>
      </div>
      <button class="btn btn-dark" type="submit">Save</button>
    </form>
  </div>
</ng-template>


<style>
  .icon {
    font-size: 36px;
    color: red;
  }
  .child-icon {
    font-size: 36px;
    float: right;
  }
  .my_class {
    font-size: 36px;
  }
  .label {
    color: #0a0a0a;
  }
</style>
